<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutReservation.php">
<table>
<caption>Ajouter Reservation </caption>
<tr>
<td>cinClient</td>
<td><input type="text" name="cinClient"></td>
</tr>
<tr>
<td>dureeReservation</td>
<td><input type="text" name="dureeReservation"></td>
</tr>
<tr>
<td>idCircuit</td>
<td><input type="text" name="idCircuit"></td>
</tr>
<tr>
<td>nbrePersonne</td>
<td><input type="text" name="nbrePersonne"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>
