<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutCircuit.php">
<table>
<caption>Ajouter Employe</caption>
<tr>
<td>num</td>
</tr>
<tr>
<td>theme Circuit</td>
<td><input type="text" name="tC"></td>
</tr>
<tr>
<td>description Circuit</td>
<td><input type="text" name="dC"></td>
</tr>
<tr>
<td>duree Circuit</td>
<td><input type="text" name="timeC"></td>
</tr>
<tr>
<td>transport Circuit</td>
<td><input type="text" name="transC"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>
